 <div class="home">
  <header>
    <div class="logo">SOLUTEC</div>
    <nav class="navbar">
      <a href="#">Inicio</a>
      <a href="#">Sobre mí</a>
      <a href="#">Servicios</a>
      <a href="#">Consejos</a>
      <a href="#">Portafolio</a>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1 id="chars">
        Calidad, confianza y tecnología en cada
        <span class="highlight">solución que brindamos</span>
      </h1>
      <p>
        Atención profesional respaldada por un Ingeniero en Sistemas con
        especialidad técnica en informática.
      </p>
      <div class="actions">
        <button class="btn-explorer">
          Contactar <i class="pi pi-whatsapp"></i>
        </button>
        <button class="btn-outline">▶ Explorar Servicios</button>
      </div>
    </div>
    <div class="hero-image">
      <img
        class="logotipo"
        src="../../../assets/logotipo.png"
        alt="Logotipo"
      />
    </div>
  </section>
</div>



 <!--
<div class="home">
<header>
  
<div class="logo">SOLUTEC</div>
  
<nav class="navbar">
  <a href="#">Inicio</a>
  <a href="#">Sobre mí</a>
  <a href="#">Servicios</a>
  <a href="#">Consejos </a>
  <a href="#">Portafolio</a>
</nav>
 
 
</header>

<section class="hero">
<div class="hero-text"> 
  <h1 id="chars">Calidad, confianza y tecnología en cada  <span class="highlight"></span> <span class="highlight">solución que brindamos</span></h1>
  <p>Atención profesional respaldada por un Ingeniero en Sistemas con especialidad técnica en informática.</p>
  <div class="actions"> 
    <button class="btn-explorer">Contactar 
      <i class="pi pi-whatsapp"></i> </button>
    <button class="btn-outline">▶ Explorar Servicios</button>
  </div>
</div>
<div class="hero-image">
  <img class="logotipo" src="../../../assets/logotipo.png" alt="Logotipo">
</div>
</section>
</div>

 -->