@media (width <860px){
.hero-image{
  visibility: hidden;
}
.navbar{
  visibility: hidden;
}
}
@media (max-width: 368px) {
  .logotipo {
    margin-top: 50px;
    width: 200px;
  }
}

.home {
  background-color: #000000;
  border-radius: 15px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  object-fit: contain;
  filter: drop-shadow(0 0 15px #fff);
  mask-image: linear-gradient(black, 80%, transparent);
}

h1 {
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.logotipo {
  width: 500px;
  font-weight: bold;
  color: #fff;
  object-fit: contain;
  filter: drop-shadow(0 0 1px #fff);

}

nav a {
  margin: 0 1rem;
  color: #ccc;
  text-decoration: none;
}

.btn-explorer {
  background-color: #ff3d58;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  flex-wrap: wrap;
  /* background-color: #000000; */
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
}

.highlight {
  color: #ff3d58;
}

.hero-text p {
  margin: 1.5rem 0;
  color: #ccc;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-outline {
  padding: 0.7rem 1.2rem;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

