<header>
<div class="logo">SOLUTEC</div>
<nav>
  <a href="#">Home</a>
  <a href="#">Explorer</a>
  <a href="#">Community</a>
  <a href="#">Wallet</a>
  <a href="#">About Us</a>
</nav>
<button class="btn-explorer">Explorer</button>
</header>

<section class="hero">
<div class="hero-text"> 
  <h1>Calidad, confianza y tecnología en cada  <span class="highlight"></span> <span class="highlight">solución que brindamos</span></h1>
  <p>Atención profesional respaldada por un Ingeniero en Sistemas con especialidad técnica en informática.</p>
  <div class="actions">
    <button class="btn-explorer">Contactar <img width="15px" src="../../../assets/whatsapp-icon.svg" alt=""> </button>
    <button class="btn-outline">▶ Explorar Servicios</button>
  </div>
</div>
<div class="hero-image">
  <img src="../../../assets/logotipo.png" alt="Logotipo">
</div>
</section>